@import "tailwindcss";

@media print {
  /* Reset height/overflow layout limits during printing to prevent page cutoff */
  html, body, main, div {
    height: auto !important;
    overflow: visible !important;
  }
  
  body * {
    visibility: hidden;
  }
  
  #resume-preview-container, #resume-preview-container * {
    visibility: visible;
  }
  
  #resume-preview-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: black !important;
    background: white !important;
  }
}